PORT=5000
DATABASE_URL="mysql://root:password@host:3306/railway"
JWT_SECRET="3cc1218f796ffd3e89dcf01d44d9fbfb68c0848b221384d346d23139cab827bf"
JWT_EXPIRES_IN="7d"
GROQ_API_KEY="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"
GROQ_MODEL="openai/gpt-oss-120b"
